{{template "base.html" .}}

{{define "content"}}
Hello, {{.Name}}!

<div class="flex gap-4 mt-8">
  {{range $element := .Products }}
  <div class="card w-96 bg-base-100 shadow-xl">
    <figure>
      <img src="{{$element.ImgURL}}" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{$element.Title}}</h2>
      <p>{{$element.Description}}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>
  {{end}}
</div>

{{end}}